<div class = "whole_page">
  <br>
<div class = "page_header"><h2>My Completed Workouts<h2></div><br><br>
<% @workouts.each do |workout| %>
<div class="body">
  <div class="completed_header"><%=workout.date%>: <%= link_to workout.description, workout_path(workout) %> </div><br>
  <div class="review_form">
    <%= form_tag("/gym_reviews") do %>
      <input type="hidden" name="gym_review[gym_id]" value="<%=workout.gym_id%>">
      <input type="hidden" name="gym_review[workout_id]" value="<%=workout.id%>">
      <div class="text">Rate <%=workout.gym.name%>!</div>
        <span class="starRating">
        1 <input id="rating1" type="radio" name="gym_review[rating]" value="1" class="fa fa-star">
        <label for="rating1"></label>
        2 <input id="rating2" type="radio" name="gym_review[rating]" value="2" class="fa fa-star">
        <label for="rating2"></label>
        3 <input id="rating3" type="radio" name="gym_review[rating]" value="3" class="fa fa-star">
        <label for="rating3"></label>
        4 <input id="rating4" type="radio" name="gym_review[rating]" value="4" class="fa fa-star">
        <label for="rating4"></label>
        5 <input id="rating5" type="radio" name="gym_review[rating]" value="5" class="fa fa-star">
        <label for="rating5"></label>
        </span><br>
      <%= text_area_tag "gym_review[description]" %><br>
      <input type="submit" value="submit review">
    <% end%>

    <br><br>

  <%= form_tag("/amigo_reviews") do %>
    <input type="hidden" name="amigo_review[amigo_id]" value="<%=workout.amigo_id%>">
    <input type="hidden" name="amigo_review[workout_id]" value="<%=workout.id%>">
    <div class="text">Rate <%=workout.amigo.username%>!</div>
    <span class="starRating">
    1 <input id="rating1" type="radio" name="amigo_review[rating]" value="1" class="fa fa-star">
    <label for="rating1"></label>
    2 <input id="rating2" type="radio" name="amigo_review[rating]" value="2" class="fa fa-star">
    <label for="rating2"></label>
    3 <input id="rating3" type="radio" name="amigo_review[rating]" value="3" class="fa fa-star">
    <label for="rating3"></label>
    4 <input id="rating4" type="radio" name="amigo_review[rating]" value="4" class="fa fa-star">
    <label for="rating4"></label>
    5 <input id="rating5" type="radio" name="amigo_review[rating]" value="5" class="fa fa-star">
    <label for="rating5"></label>
    </span><br>
    <%= text_area_tag "amigo_review[description]" %><br>
    <input type="submit" value="submit review">
  <% end %>
</div>
</div><br><br>

<% end %>
</div>
