<div class="whole_page">
  <br>
  <div class="page_header"
  <h1>My Profile</h1></div>
        <br>

          <br>
          <div class="body">
          my username: <div class="profile_data"><%= @user.username %></div><br>
          my city: <div class="profile_data"><%= @user.city %></div><br>

         my experience level: <div class="profile_data"><%= @user.experience %></div><br>
          my goals: <div class="profile_data"><%= @user.goals %></div><br>

</div>

<br><br>
<a class="btn btn-danger" href="/users/<%=session[:user_id]%>/edit" role="button">Edit Profile</a>
</div>
