<h1>Profile</h1> <br>
my username: <%= @user.username %><br>
my city: <%= @user.city %><br>
my experience level: <%= @user.experience %><br>
my goals: <%= @user.goals %><br>
<br>

<%= link_to "update profile", edit_user_path(@user) %><br>
<%= link_to "back to my page", user_path(@user)%>
