<div class="container">
<h1>Profile</h1> <br>
my username: <%= @user.username %><br>
my city: <%= @user.city %><br>
my experience level: <%= @user.experience %><br>
my goals: <%= @user.goals %><br>
<br>

<a class="btn btn-primary" href="/users/<%=session[:user_id]%>/edit" role="button">Edit Profile</a>
