<% if !@logged %>
  <%= 'You are not logged in!' %>
  <%= link_to 'Please Login', login_path %>
<% elsif @self_page %>
  <p>Welcome back!</p>
<% end %>

<h1><%= @user.username %></h1>
<%= link_to "view my profile", profile_path(@user) %> <br>
<%= link_to "workout menu", menu_path(@user) %><br>
<%= link_to "find a gym near me", gyms_path%><br>
<%= link_to "logout", logout_path, method: :post %>
