<br>
<div class="review_header"><%= @amigo_review.amigo.username.upcase%> REVIEW</div><br><br>
<br>
<div class="review_body"><br>
reviewed by: <div class="review_info"><%= @amigo_review.user.username%></div><br><br>
<% if @amigo_review.rating %>
rating: <div class="review_info"><%= @amigo_review.rating%></div><br><br>
<% end%>
<% if !@amigo_review.description.empty?%>
comments: <div class="review_info"><%= @amigo_review.description%></div><br><br>
<% end%></div>
<div class="return_link">
<%= link_to "return to completed workouts", completed_path%>
</div>
