<br>
<div class='container'>
  <!-- <div class="row"> -->


    <div class='container'>

    <div class="col-4" id="text">
        <% if params[:q] %>
        <% if @gyms.empty? %>
        <%= "No gyms found in this zipcode." %>
        <% else %>
        <%= "Gyms in zipcode #{params[:q]}:"%>
        <% end %>
        <% end %>
    </div>


  <!-- </div> -->

  <div class="col-6" id="text">
    <% @gyms.each do |gym| %>
    <a href="<%=gym_path(gym)%>" class="badge badge-warning"><%=gym.name%></a>
    <% end %><br><br>
  </div>



  <div class="col-5" id="search">
    <%= form_tag("/search", method: "get") do %>
      <!-- <%= label_tag(:q, "Enter zipcode or 'all' to show all gyms in Search.") %> -->
      <div class="search_bar"><%= text_field_tag(:q, "search by zipcode") %></div>
      <div class="search_button"><%= submit_tag("Search", class: "btn btn-danger") %></div>
    <% end %>
  </div>

</div>





    <!-- <div class="col-3.5">
      Enter zipcode or 'all' to show all gyms in Search.
    </div> -->




  </div>
</div>
