<div class='container'>
  <h1>Gym Index</h1>
<% if params[:q] %>
<% if @gyms.empty? %>
<%= "No gyms found in this zipcode." %>
<% else %>
<%= "Gyms in zipcode #{params[:q]}:"%>
<% end %>
<% end %><br><br>


<% @gyms.each do |gym| %>
<a href="<%=gym_path(gym)%>" class="badge badge-warning"><%=gym.name%></a><br>
<% end %><br><br>


<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search by zipcode:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search", class: "btn btn-warning") %>
<% end %>
*search "all" to show all gyms
</div>
