<br>
<div class="container">
<h1 class="gym_header">
  <div class="text-warning">
    <%= @gym.name %>
    <div class="gym-address">
      <%= @gym.address + ", " + @gym.city + " " + @gym.zipcode%>
      <br>
      Average Rating:
      <% if !@gym.average_rating %>
        No ratings yet.
      <% else %>
        <%= ' ' + @gym.average_rating.round(1).to_s + ' ' %>stars
      <% end %>
    </div>
  </div>
</h1>
<p><div class="gym_body">
  <br>
OPEN: <div class="gym-info"><%= @gym.hours%></div><br>

  RATES: <div class="gym-info"><%= @gym.rates%></div><br>

  <a href="<%=gym_show_reviews_path(@gym)%>" method="post" class="btn btn-danger">Reviews</a>
</div>
</div>
